<!--Footer-->
<footer class="page-footer center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-4 offset-md-4">
                <h5 class="title">ABOUT PEMBLE</h5>
                <p>Pemble is an internal promotions event managing network for marketing organisations. </p>

                <p>Pemble makes it easier and faster to organise promotional events for both managers and brand ambassadors. </p>
            </div>

        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: Pemble.ie
        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->