<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>Vectr</title>
    <meta charset="utf-8" />
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7/css/font-awesome.min.css">-->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />-->
    <!--<link rel="stylesheet" href="resources/bootstrap.min.css" />-->
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="resources/img-upload/ng-img-crop.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/node_modules/fullcalendar/dist/fullcalendar.min.css"/>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="/node_modules/mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="/node_modules/fullcalendar/dist/fullcalendar.print.min.css"/>-->
    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet/less" type="text/css" href="css/variables.less">
    <link rel="stylesheet/less" type="text/css" href="css/mixins.less">
    <link rel="stylesheet/less" type="text/css" href="css/sb-admin-2.less">
    <link href="resources/angular-moment-picker.min.css" rel="stylesheet">
    <link href="/node_modules/mdbootstrap/css/mdb.min.css" rel="stylesheet">
</head>

<body ng-cloak class="ng-cloak">
<div id="wrapper">
    <div ng-controller="navigation">
        <div id="custom-bootstrap-menu" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <!--<div class="container">-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--Maybe use fa-hashtag-->
                    <a ng-if="authenticated" class="navbar-brand" href="#/"><i class="fa fa-viacoin fa-fw"></i> vectr</a>
                    <a ng-if="!authenticated" class="navbar-brand" href="#/login"><i class="fa fa-viacoin fa-fw"></i> vectr</a>
                </div>
                <div ng-if="authenticated">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <i class="fa fa-envelope fa-fw"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li>
                                    <a href="#">
                                        <div>
                                            <strong>John Smith</strong>
                                            <span class="pull-right text-muted">
                                            <em>Yesterday</em>
                                        </span>
                                        </div>
                                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <strong>John Smith</strong>
                                            <span class="pull-right text-muted">
                                            <em>Yesterday</em>
                                        </span>
                                        </div>
                                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <strong>John Smith</strong>
                                            <span class="pull-right text-muted">
                                            <em>Yesterday</em>
                                        </span>
                                        </div>
                                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a class="text-center" href="#/messages">
                                        <strong>Read All Messages</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- /.dropdown-messages -->
                        </li>
                        <!-- /.dropdown -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <i class="fa fa-bell fa-fw"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-comment fa-fw"></i> New Comment
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                            <span class="pull-right text-muted small">12 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-envelope fa-fw"></i> Message Sent
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-tasks fa-fw"></i> New Task
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a class="text-center" href="#">
                                        <strong>See All Alerts</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- /.dropdown-alerts -->
                        </li>
                        <!-- /.dropdown -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <i class="fa fa-user fa-fw"></i> {{currentUser.firstName}}
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li ng-if="empUser"><a href="#/emp/view/{{currentUser.id}}"><i class="fa fa-user fa-fw"></i> My Profile</a>
                                </li>
                                <li ng-if="!empUser"><a href="#/ba/view/{{currentUser.id}}"><i class="fa fa-user fa-fw"></i> My Profile</a>
                                </li>
                                <li><a href="#/settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#/login" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                        <!-- /.dropdown -->
                        <!--<li class="dropdown">-->
                            <!--<a href="" class="dropdown-toggle" data-toggle="dropdown">-->
                                <!--<span class="glyphicon glyphicon-user"></span> -->
                                <!--<strong>{{currentUser.firstName}}</strong>-->
                                <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
                            <!--</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li>-->
                                    <!--<div class="navbar-login">-->
                                        <!--<div class="row">-->
                                            <!--<div class="col-lg-4">-->
                                                <!--<p class="text-center">-->
                                                    <!--<span class="glyphicon glyphicon-user icon-size"></span>-->
                                                <!--</p>-->
                                            <!--</div>-->
                                            <!--<div class="col-lg-8">-->
                                                <!--<p class="text-left"><strong>{{currentUser.firstName}} {{currentUser.lastName}}</strong></p>-->
                                                <!--<p class="text-left small">{{currentUser.email}}</p>-->
                                                <!--<p class="text-left">-->
                                                    <!--<div ng-if="empUser">-->
                                                        <!--<a href="#/emp/view/{{currentUser.id}}" class="btn btn-primary btn-block btn-sm">My Account</a>-->
                                                    <!--</div>-->
                                                    <!--<div ng-if="!empUser">-->
                                                        <!--<a href="#/ba/view/{{currentUser.id}}" class="btn btn-primary btn-block btn-sm">My Account</a>-->
                                                    <!--</div>-->
                                                <!--</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li class="divider"></li>-->
                                <!--<li>-->
                                    <!--<div class="navbar-login navbar-login-session">-->
                                        <!--<div class="row">-->
                                            <!--<div class="col-lg-12">-->
                                                <!--<p>-->
                                                    <!--<button ng-click="logout()" class="btn btn-danger btn-block">Logout</button>-->
                                                <!--</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    </ul>
                </div>
            <!--</div>-->
        </div>
        <div class="navbar-custom sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <div ng-if="authenticated">
                    <ul class="nav" id="side-menu">
                        <li class="waves-effect">
                            <a href="/#"><i class="fa fa-viacoin fa-fw"></i> Home</a>
                        </li>
                        <li class="waves-effect" ng-if="!empUser">
                            <a href="#/ba/view/{{currentUser.id}}"><i class="fa fa-user fa-fw"></i> My Profile</a>
                        </li>
                        <li class="waves-effect" ng-if="empUser">
                            <a href="#/emp/view/{{currentUser.id}}"><i class="fa fa-user fa-fw"></i> My Profile</a>
                        </li>
                        <li class="waves-effect" ng-if="!empUser">
                            <a href="#/ba/wages"><i class="fa fa-money fa-fw"></i> My Wages</a>
                        </li>
                        <li class="waves-effect" ng-if="!empUser">
                            <a href="#/"><i class="fa fa-history fa-fw"></i> Past Events</a>
                        </li>
                        <li class="waves-effect" ng-if="empUser">
                            <a href="#/job/new"><i class="fa fa-plus-circle fa-fw"></i> New Event</a>
                        </li>
                        <li class="waves-effect" ng-if="empUser">
                            <a href="#/expenses"><i class="fa fa-money fa-fw"></i> Pay Expenses</a>
                        </li>
                    </ul>
                </div>
                <div ng-if="!authenticated">
                    <ul class="nav">
                        <li class="waves-effect"><a href="#/login"><i class="fa fa-sign-in fa-fw"></i> Login</a></li>
                        <li class="waves-effect"><a href="#/register"><i class="fa fa-user-plus fa-fw"></i> Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-view id="page-wrapper"></div>
</div>

<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-animate.min.js"></script>-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-aria.min.js"></script>-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-messages.min.js"></script>-->

<!--Node Modules-->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/angular/angular.min.js"></script>
<script src="/node_modules/angular-route/angular-route.min.js"></script>
<script src="/node_modules/angular-cookies/angular-cookies.min.js"></script>
<script src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js" type="text/javascript"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/node_modules/moment/min/moment.min.js"></script>
<script src="/node_modules/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="/node_modules/mdbootstrap/js/mdb.min.js"></script>
<!--Other-->
<script src="https://use.fontawesome.com/0d188512fc.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtcxmU7esy3552QUvURZiW8rvaWjbMUW8&libraries=places"></script>
<script src="resources/img-upload/ng-file-upload.min.js"></script>
<script src="resources/img-upload/ng-file-upload-shim.min.js"></script>
<script src="resources/img-upload/ng-img-crop.js"></script>
<script src="resources/calendar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<!--Moment picker-->
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
<script src="resources/angular-moment-picker.min.js"></script>
<script async defer src="https://apis.google.com/js/api.js">
</script>
<script src="https://js.stripe.com/v3/"></script>
<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>

<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyBkt6sGzu2K-kqmRzUUhgc01o3NQHTaZ-s",
        authDomain: "ambassadortracker.firebaseapp.com",
        databaseURL: "https://ambassadortracker.firebaseio.com",
        storageBucket: "ambassadortracker.appspot.com",
        messagingSenderId: "1009962031783"
    };
    firebase.initializeApp(config);
</script>
<!-- Firechat -->
<link rel="stylesheet" href="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.css" />
<script src="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.js"></script>

<!--JS Files-->
<script src="js/app.js"></script>
<script src="js/googleplace.js"></script>
<script src="js/job/job.factory.js"></script>
<script src="js/ba/ba.factory.js"></script>
<script src="js/job/job.controller.js"></script>
<script src="js/home.js"></script>
<script src="js/navigation.js"></script>
<script src="js/user.js"></script>
<script src="js/job/view-job-controller.js"></script>
<script src="js/view-ba-controller.js"></script>
<script src="js/view-emp-controller.js"></script>
<script src="js/wages.js"></script>
<script src="js/settings.js"></script>
<script src="js/expenses.js"></script>
<script src="js/messages.js"></script>
</body>

</html>