<div ng-controller="nav as nctrl">
    <nav class="navbar navbar-toggleable-md navbar-dark scrolling-navbar wet-asphalt">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#/complete"><i class="fa fa-pinterest-p fa-fw"><i>emble</i></i></a>
        </div>
    </nav>
</div>
<main class="mt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-up">
                        <div ng-style="{'background-image':'url('+ctrl.user.coverUrl+')'}" class="cover-pic"></div>
                    </div>
                    <!--<div class="avatar hoverable" ng-style="{'background-image':'url('+ctrl.user.imageUrl+')'}"></div>-->
                    <img ng-src="{{ctrl.user.imageUrl}}" class="avatar hoverable">
                    <div class="card-block">
                        <div class="flex-center">
                            <h2 class="text-center">{{ctrl.user.firstName}} {{ctrl.user.lastName}}</h2>
                        </div>
                        <hr class="my-2">
                        <p class="text-center" ng-if="!ctrl.user.manager">{{ctrl.user.address}}</p>
                        <p class="text-center"><a href="mailto:{{ctrl.user.email}}">{{ctrl.user.email}}</a></p>
                        <p class="text-center">{{ctrl.user.phone}}</p>
                        <p class="text-center" ng-if="!ctrl.user.manager && ctrl.user.dob != null">{{ctrl.user.dob | date:"dd/MM/yyyy"}} ({{ctrl.age}} years old)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-block">
                    <div class="text-center">
                        <h3>Complete your profile</h3>
                        <hr class="mt-2 mb-2">
                        <form ng-submit="ctrl.saveProfile()">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="imageUrl">Profile Pic (<a ng-click="upload = true">Upload</a>/<a ng-click="upload = false">Url</a>)</label>
                                        <input ng-if="!upload" ng-model="ctrl.user.imageUrl" id="imageUrl" type="text" class="input-md">
                                        <!--<input ng-if="upload" class="btn btn-default" type="file" id="inputfile" ng-click="ctrl.main = true"-->
                                               <!--onchange="angular.element(this).scope().fileSelected(this)"/>-->
                                        <div class="fileUpload btn blue-green" ng-if="upload">
                                            <span>Upload</span>
                                            <input type="file" class="upload" ng-click="ctrl.main = true"
                                                   onchange="angular.element(this).scope().fileSelected(this)"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="coverPic">Cover Pic (<a ng-click="cupload = true">Upload</a>/<a ng-click="cupload = false">Url</a>)</label>
                                        <input ng-if="!cupload" ng-model="ctrl.user.coverUrl" id="coverPic" type="text" class="input-md">
                                        <div class="fileUpload btn blue-green" ng-if="cupload">
                                            <span>Upload</span>
                                            <input type="file" class="upload" ng-click="ctrl.main = false"
                                                   onchange="angular.element(this).scope().fileSelected(this)"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="dob">Date of birth</label>
                                        <input id="dob"
                                               class="form-control md-select"
                                               moment-picker="ctrl.dob"
                                               start-date="1990"
                                               change="ctrl.onChange(newValue, oldValue)"
                                               locale="en-gb"
                                               format="LL"
                                               max-view="month"
                                               start-view="decade"
                                               autoclose="true"
                                               ng-model="ctrl.dob"
                                               ng-model-options="{ updateOn: 'blur' }"
                                               aria-label="Date of Birth">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="gender">Gender</label>
                                        <select ng-model="ctrl.user.male" ng-inti="ctrl.user.male = 'true'" id="gender" class="form-control md-select">
                                            <option value="true" selected="selected">Male</option>
                                            <option value="false">Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input placeholder="" googleplace options="options1" ng-model="ctrl.user.address" id="address" type="text" class="input-md">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="phone">Phone number</label>
                                        <input ng-model="ctrl.user.phone" id="phone" type="text" class="input-md">
                                    </div>
                                </div>
                            </div>
                            <button class="btn teal-blue" type="submit">Continue</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<img id="mySpinner" src="/static/resources/spinner.gif" ng-show="ctrl.loading" class="loader"/>