<div ng-include="'partial/nav.html'"></div>

<main class="mt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div ng-style="{'background-image':'url('+ctrl.job.company.imageUrl+')'}" class="event-pic"></div>
                    <!--<img ng-if="ctrl.job.company.imageUrl.length > 0" ng-src="{{ctrl.job.company.imageUrl}}" alt="...">-->
                    <div class="card-block">
                        <!--<h1 ng-if="ctrl.companyItem.name.length > 0" class="h1-responsive">{{ctrl.companyItem.name}}</h1>-->
                        <!--<h1 ng-if="ctrl.companyItem.name.length == 0" class="h1-responsive">{{ctrl.companyItem}}</h1>-->
                        <h1 class="h1-responsive">{{ctrl.job.company.name}}</h1>
                        <hr class="my-2">
                        <p><small>Created by {{currentUser.firstName}} {{currentUser.lastName}}</small></p>
                        <p>{{ctrl.job.location}}</p>
                        <p>Rate: {{ctrl.job.wage | currency:"€"}}</p>
                        <p>Starts at {{ctrl.startMoment._d | date:"HH:mm 'on' dd/MM/yyyy"}}</p>
                        <p>Ends at {{ctrl.endMoment._d | date:"HH:mm 'on' dd/MM/yyyy"}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-block">

                    <!--Header-->
                    <div class="text-center">
                        <h3><i class="fa fa-calendar"></i> New Event</h3>
                        <hr class="mt-2 mb-2">
                    </div>
                    <!--<div class="form-group">-->
                    <!--<label for="company">Client</label>-->
                    <!--<input uib-typeahead="company as company.name for company in ctrl.clients | filter:{name:$viewValue} | limitTo:8" typeahead-show-hint="true" typeahead-min-length="1"-->
                    <!--ng-model="ctrl.companyItem" id="company" name="company" type="text" class="input-md" aria-label="Client">-->
                    <!--</div>-->
                    <div class="form-group">
                        <label for="company">Client</label>
                        <div angucomplete-alt id="company"
                             maxlength="20"
                             pause="10"
                             selected-object="ctrl.onCompanySelect"
                             local-data="ctrl.clients"
                             search-fields="name"
                             title-field="name"
                             image-field="imageUrl"
                             minlength="1"
                             input-class="input-md"
                             match-class="highlight"
                             input-changed="ctrl.onCompanyChange"
                        ></div>
                    </div>
                    <div class="form-group">
                        <label for="imageUrl">Image Url</label>
                        <input ng-model="ctrl.job.company.imageUrl" id="imageUrl" name="imageUrl" type="text" class="input-md">
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input placeholder="" googleplace options="options1" ng-model="ctrl.job.location" id="location" name="location" type="text" class="input-md">
                    </div>
                    <div class="form-group">
                        <label for="wage">Base wage</label>
                        <div class="md-form input-group">
                            <span class="input-group-addon">€</span>
                            <input ng-model="ctrl.job.wage" style="margin: 0 5px; width: 100px" name="wage" id="wage" class="input-md" type="text">
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                    <!--<label for="requiredBoys">Minimum no. of boys</label>-->
                    <!--<input ng-model="ctrl.job.requiredBoys" id="requiredBoys" name="requiredBoys" type="text" class="input-md">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<label for="requiredGirls">Minimum no. of girls</label>-->
                    <!--<input ng-model="ctrl.job.requiredGirls" id="requiredGirls" name="requiredGirls" type="text" class="input-md">-->
                    <!--</div>-->
                    <div class="form-group">
                        <label for="startMoment">Starts at...</label>
                        <input id="startMoment"
                               class="input-md"
                               placeholder="Select a date and time"
                               moment-picker="ctrl.startMoment"
                               locale="en-gb"
                               format="LL LT"
                               max-view="hour"
                               start-view="month"
                               autoclose="true"
                               ng-model="ctrl.startMoment"
                               ng-model-options="{ updateOn: 'blur' }"
                               aria-label="Starts at">
                    </div>
                    <div class="form-group">
                        <label for="endMoment">Ends at...</label>
                        <input id="endMoment"
                               class="input-md"
                               placeholder="Select a date and time"
                               moment-picker="ctrl.endMoment"
                               locale="en-gb"
                               format="LL LT"
                               max-view="hour"
                               start-view="month"
                               autoclose="true"
                               ng-model="ctrl.endMoment"
                               ng-model-options="{ updateOn: 'blur' }"
                               aria-label="Ends at">
                    </div>

                    <!-- Button for modal -->
                    <div class="form-group">
                        <label for="invite-select">Brand Ambassadors</label>
                        <button type="button" ng-disabled="ctrl.endMoment._d == null || ctrl.startMoment._d == null"
                                ng-click="ctrl.getOverlappingJobs()" id="invite-select" class="btn btn-default btn-lg"
                                style="margin-left: 3rem;" data-toggle="modal" data-target="#myModal">
                            Invite
                        </button>
                    </div>
                    <div class="text-center">
                        <button ng-click="ctrl.createJob()" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title flex-center" id="myModalLabel">Brand Ambassadors</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table width="100%" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Availability</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="ba in ctrl.baList | orderBy:'firstName'">
                                    <td ng-if="ba.available"><input type="checkbox" value="{{ba.id}}" ng-model="ba.selected"></td>
                                    <td ng-if="!ba.available"><input type="checkbox" disabled></td>
                                    <td><a href="#/ba/view/{{ba.id}}" target="_blank">{{ba.firstName}} {{ba.lastName}}</a></td>
                                    <td ng-if="ba.available" style="color: #31a02a;">Available</td>
                                    <td ng-if="!ba.available" style="color: #a00d00;">
                                        Unavailable, working with
                                        <a href="#/job/view/{{ba.jobId}}" target="_blank">{{ba.workingFor.name}}</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline btn-primary" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!--End of modal-->
    </div>
</main>