<div ng-include="'partial/nav.html'"></div>
<main class="mt-2">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="card card-block">
                    <input placeholder="Search" ng-model="search.$" type="text" class="input-md">
                </div>
                <div class="card" ng-repeat="job in ctrl.events | orderBy: '-createdAt' | filter:search | filter:ctrl.publicFilter"
                     ng-if="((job.startDate | date:'yyyyMMdd') > (ctrl.afterFilterDate | date:'yyyyMMdd'))
                     && ((job.startDate | date:'yyyyMMdd') < (ctrl.beforeFilterDate | date:'yyyyMMdd'))">
                    <div class="row">
                        <div class="col-5">
                            <a href="#/job/{{job.id}}">
                                <div ng-style="{'background-image':'url('+job.company.imageUrl+')'}" class="events-pic"></div>
                            </a>
                        </div>
                        <div class="col-7">
                            <div class="card-block">
                                <h2><a href="#/job/view/{{job.id}}">{{job.company.name}}</a></h2>
                                <p>{{job.location | limitTo:55}}{{job.location.length > 55 ? '...' : ''}}</p>
                                <p>{{job.startDate | date:"dd/MM/yyyy"}}</p>
                                <p ng-if="job.publicEvent" style="color: #31a02a">Public</p>
                                <p ng-if="!job.publicEvent" style="color: #a00d00">Private</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card card-block">
                    <h2>Filters</h2>
                    <div class="form-group">
                    <select class="form-control md-select" ng-model="ctrl.eventFilter" ng-change="ctrl.filterChange()">
                        <option value="all" selected>All</option>
                        <option ng-if="!currentUser.manager" value="accepted">Accepted Events</option>
                        <option ng-if="!currentUser.manager" value="invited">Invited Events</option>
                        <option ng-if="currentUser.manager" value="myEvents">My events only</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <label>Public events only:
                            <input type="checkbox" ng-model="ctrl.publicEventsOnly">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="after">Show events after:</label>
                        <input id="after"
                               class="form-control md-select"
                               moment-picker="ctrl.afterFormatted"
                               ng-model="ctrl.afterMoment"
                               change="ctrl.afterDateSelect(newValue, oldValue)"
                               max-date="ctrl.beforeMoment"
                               locale="en-gb"
                               format="LL"
                               max-view="month"
                               start-view="year"
                               autoclose="true"
                               ng-model-options="{ updateOn: 'blur' }"
                               aria-label="After">
                    </div>
                    <div class="form-group">
                        <label for="before">Show events before:</label>
                        <input id="before"
                               class="form-control md-select"
                               moment-picker="ctrl.beforeMoment"
                               ng-model="ctrl.beforeMoment"
                               change="ctrl.beforeDateSelect(newValue, oldValue)"
                               min-date="ctrl.afterMoment"
                               locale="en-gb"
                               format="LL"
                               max-view="month"
                               start-view="year"
                               autoclose="true"
                               ng-model-options="{ updateOn: 'blur' }"
                               aria-label="Before">
                    </div>
                </div>
                    <!--<label>-->
                        <!--<input type="checkbox"-->
                               <!--ng-model="checkboxModel.value2"-->
                               <!--ng-change="ctrl.filterChange()"-->
                               <!--ng-true-value="ctrl.eventFilter = invited"-->
                               <!--ng-false-value="ctrl.eventFilter = null">-->
                    <!--Invited Events</label>-->
                </div>
            </div>
        </div>
    </div>
</main>