<div ng-include="'partial/nav.html'"></div>
<main class="mt-5">
    <div class="container">
        <div class="card">
            <div class="card-header teal-blue white-text">
                <ul class="legend">
                    <li><span class="gCal"></span> Google Calendar Event</li>
                    <li><span class="upc"></span> Upcoming Event</li>
                    <li><span class="past"></span> Past Event</li>
                    <li><span class="pending"></span> Pending Event</li>
                </ul>
            </div>
            <div class="card-block">
                <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" calendar="myCalendar"></div>
            </div>
        </div>
    </div>
</main>