<div ng-if="authenticated">
    <div class="row">
        <div class="col-md-3">
            <div class="card-wrapper">
                <div class="card">
                    <div class="card-up">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2859%29.jpg" class="img-fluid" alt="Image with a photo of clouds.">
                    </div>
                    <div class="avatar hoverable">
                        <img ng-src="{{controller.ba.imageUrl}}" class="rounded-circle img-responsive" alt="Sample avatar image.">
                    </div>
                    <div class="card-block">
                        <div class="flex-center">
                            <h2>{{controller.ba.firstName}} {{controller.ba.lastName}}</h2>
                        </div>
                        <hr class="my-2">
                        <a href="mailto:{{controller.ba.email}}">{{controller.ba.email}}</a>
                        <address>{{controller.ba.address}}</address>
                        <p>DOB: {{controller.ba.dob | date:"dd/MM/yyyy"}} ({{controller.age}} years old)</p>
                        <p>Height: {{controller.ba.height}}</p>
                        <p>Torso: {{controller.ba.torso}}</p>
                        <p>Waist: {{controller.ba.waist}}</p>
                        <p>Shoe: {{controller.ba.shoe}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <nav class="navbar navbar-dark bg-primary">
                <div class="flex-center">
                    <p class="navbar-brand" href="#">Pending ({{controller.invited.length}})</p>
                </div>
            </nav>
            <div ng-repeat="inv in controller.invited | orderBy:'-id'" id="card-{{inv.id}}">
                <div class="card-wrapper">
                    <div class="card">
                        <div class="view hm-zoom">
                            <a href="#/job/view/{{inv.id}}">
                                <img class="img-fluid" ng-src="{{inv.company.imageUrl}}" alt="...">
                            </a>
                        </div>
                        <div class="card-block">
                            <a href="#/job/view/{{inv.id}}"><h2>{{inv.company.name}}</h2></a>
                            <footer class="blockquote-footer">Created by <a href="#/emp/view/{{inv.employee.id}}">{{inv.employee.firstName}} {{inv.employee.lastName}}</a></footer>
                            <p>Starting at {{inv.startDate | date:"HH:mm 'on' dd/MM/yyyy"}}</p>
                            <p>
                                <button ng-show="currentUser.id == controller.ba.id && !empUser" ng-click="controller.acceptJob(inv)" class="btn btn-outline btn-success">Accept</button>
                                <button ng-show="currentUser.id == controller.ba.id && !empUser" ng-click="controller.declineJob(inv)" class="btn btn-outline btn-danger">Decline</button>
                                <a href="#/job/view/{{inv.id}}" class="btn btn-outline btn-primary" role="button">View</a>
                            </p>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="col-md-3">
            <nav class="navbar navbar-dark bg-success">
                <div class="flex-center">
                    <p class="navbar-brand" href="#">Upcoming ({{controller.upcoming.length}})</p>
                </div>
            </nav>
            <div ng-repeat="upc in controller.upcoming">
                <div class="card-wrapper">
                    <div class="card">
                        <div class="view hm-zoom">
                            <a href="#/job/view/{{upc.id}}">
                                <img ng-src="{{upc.company.imageUrl}}" alt="...">
                            </a>
                        </div>
                        <div class="card-block">
                            <a href="#/job/view/{{upc.id}}"><h2>{{upc.company.name}}</h2></a>
                            <footer class="blockquote-footer">Created by <a href="#/emp/view/{{upc.employee.id}}">{{upc.employee.firstName}} {{upc.employee.lastName}}</a></footer>
                            <p>Starting at {{upc.startDate | date:"HH:mm 'on' dd/MM/yyyy"}}</p>
                            <p>
                                <a href="#/job/view/{{upc.id}}" class="btn btn-outline btn-primary" role="button">View</a>
                            </p>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>