<div ng-include="'partial/nav.html'"></div>
<main class="mt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="view hm-zoom">
                        <img ng-src="{{ctrl.job.company.imageUrl}}" alt="...">
                    </div>
                    <div class="card-block">
                        <h1 class="h1-responsive">{{ctrl.job.company.name}}</h1>
                        <div class="flex-center">
                            <button ng-show="ctrl.curInvited" ng-click="ctrl.acceptJob()" class="btn btn-outline btn-success">
                                <i class="fa fa-check"></i>
                            </button>
                            <button ng-show="ctrl.curInvited" ng-click="ctrl.declineJob()" class="btn btn-outline btn-danger">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                        <hr class="my-2">
                        <p><small>Created by <a href="#/profile/{{ctrl.job.jobManager.id}}">{{ctrl.job.jobManager.firstName}} {{ctrl.job.jobManager.lastName}}</a>
                            at {{ctrl.dateMade | date:"HH:mm 'on' dd/MM/yyyy"}}</small></p>
                        <p>{{ctrl.job.location}}</p>
                        <p>Rate: {{ctrl.job.wage | currency:"€"}}</p>
                        <p>Starts at {{ctrl.job.startDate | date:"HH:mm 'on' dd/MM/yyyy"}}</p>
                        <p>Ends at {{ctrl.job.endDate | date:"HH:mm 'on' dd/MM/yyyy"}}</p>
                        <!-- /.col-lg-12 -->
                    </div>
                </div>
                <div class="card-wrapper">
                    <button class="btn btn-default" style="width: 100%; margin: 0" ng-click="ctrl.openChat()">Group chat</button>
                </div>
            </div>
            <div class="col-md-3">
                <nav class="navbar navbar-dark bg-success tab">
                    <div class="flex-center">
                        <p class="navbar-brand" href="#">Accepted</p>
                    </div>
                </nav>
                <div ng-if="ctrl.job.accepted.length == 0">
                    <div class="no-items number" style="font-size: 50px">
                        0
                    </div>
                    <div class="no-items" style="font-size: 30px">
                        Accepted BAs
                    </div>
                </div>
                <div ng-repeat="accepted in ctrl.job.accepted">
                    <div class="card">
                        <div class="card-up">
                            <a href="#/profile/{{accepted.id}}">
                                <div ng-style="{'background-image':'url('+accepted.coverUrl+')'}" class="cover-pic"></div>
                            </a>
                        </div>
                        <a href="#/profile/{{accepted.id}}">
                            <div class="avatar hoverable" ng-style="{'background-image':'url('+accepted.imageUrl+')'}"></div>
                        </a>
                        <div class="card-block">
                            <div class="flex-center">
                                <a href="#/profile/{{accepted.id}}"><h3 class="text-center">{{accepted.firstName}} {{accepted.lastName}}</h3></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <nav class="navbar navbar-dark bg-primary tab">
                    <div class="flex-center">
                        <p class="navbar-brand" href="#">Pending</p>
                    </div>
                </nav>
                <div ng-if="ctrl.job.invited.length == 0">
                    <div class="no-items number" style="font-size: 50px">
                        0
                    </div>
                    <div class="no-items" style="font-size: 30px">
                        Pending BAs
                    </div>
                </div>
                <div ng-repeat="invited in ctrl.job.invited">
                    <div class="card">
                        <div class="card-up">
                            <a href="#/profile/{{invited.id}}">
                                <div ng-style="{'background-image':'url('+invited.coverUrl+')'}" class="cover-pic"></div>
                            </a>
                        </div>
                        <a href="#/profile/{{invited.id}}">
                            <div class="avatar hoverable" ng-style="{'background-image':'url('+invited.imageUrl+')'}"></div>
                        </a>
                        <div class="card-block">
                            <div class="flex-center">
                                <a href="#/profile/{{invited.id}}"><h3 class="text-center">{{invited.firstName}} {{invited.lastName}}</h3></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <nav class="navbar navbar-dark bg-danger tab">
                    <div class="flex-center">
                        <p class="navbar-brand" href="#">Declined</p>
                    </div>
                </nav>
                <div ng-if="ctrl.job.declined.length == 0">
                    <div class="no-items number" style="font-size: 50px">
                        0
                    </div>
                    <div class="no-items" style="font-size: 30px">
                        Declined BAs
                    </div>
                </div>
                <div ng-repeat="declined in ctrl.job.declined">
                    <div class="card">
                        <div class="card-up">
                            <a href="#/profile/{{declined.id}}">
                                <div ng-style="{'background-image':'url('+declined.coverUrl+')'}" class="cover-pic"></div>
                            </a>
                        </div>
                        <a href="#/profile/{{declined.id}}">
                            <div class="avatar hoverable" ng-style="{'background-image':'url('+declined.imageUrl+')'}"></div>
                        </a>
                        <div class="card-block">
                            <div class="flex-center">
                                <a href="#/profile/{{declined.id}}"><h3 class="text-center">{{declined.firstName}} {{declined.lastName}}</h3></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>