<div ng-include="'partial/nav.html'"></div>
<main class="mt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="view hm-zoom">
                        <img ng-src="{{ctrl.job.company.imageUrl}}" alt="...">
                    </div>
                    <div class="card-block">
                        <h1 class="h1-responsive">{{ctrl.job.company.name}}</h1>
                        <div class="flex-center">
                            <button ng-show="ctrl.curInvited" ng-click="ctrl.acceptJob()" class="btn btn-outline btn-success">
                                <i class="fa fa-check"></i>
                            </button>
                            <button ng-show="ctrl.curInvited" ng-click="ctrl.declineJob()" class="btn btn-outline btn-danger">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                        <hr class="my-2">
                        <p><small>Created by <a href="#/profile/{{ctrl.job.jobManager.id}}">{{ctrl.job.jobManager.firstName}} {{ctrl.job.jobManager.lastName}}</a>
                            <span am-time-ago="ctrl.dateMade"></span></small></p>
                        <p>{{ctrl.job.location}}</p>
                        <p>Rate: {{ctrl.job.wage | currency:"€"}}</p>
                        <p>Starts at {{ctrl.job.startDate | date:"HH:mm 'on' dd/MM/yyyy"}}</p>
                        <p>Ends at {{ctrl.job.endDate | date:"HH:mm 'on' dd/MM/yyyy"}}</p>
                        <!-- /.col-lg-12 -->
                    </div>
                </div>
                <div class="card-wrapper">
                    <button class="btn btn-default" style="width: 100%; margin-left: 0; margin-right: 0" ng-click="ctrl.openChat()">Group chat</button>
                </div>
                <div class="card-wrapper">
                    <button class="btn btn-default" data-toggle="modal" data-target="#myModal" style="width: 100%; margin-left: 0; margin-right: 0">Show Staff</button>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-block">
                    <h2 class="card-title">Description</h2>
                    <p>{{ctrl.job.description}}</p>
                </div>
                <div class="card card-block" style="margin-bottom: 0">
                    <h2 class="card-title">Directions</h2>
                    <div class="row">
                        <div class="col-4">
                            <select class="form-control md-select" ng-model="ctrl.travelMode" ng-change="ctrl.calcRoute()">
                                <option value="DRIVING">Driving</option>
                                <option value="BICYCLING">Cycling</option>
                                <option value="TRANSIT">Public Transport</option>
                                <option value="WALKING">Walking</option>
                            </select>
                        </div>
                        <div class="col-8">
                            <form ng-submit="ctrl.calcRoute()">
                                <input placeholder="Custom location" googleplace options="options1"
                                       ng-model="ctrl.location" id="location" name="location" type="text" class="input-md">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8" style="padding-right: 0">
                        <div class="card">
                            <div id="map" style="height:500px"></div>
                        </div>
                    </div>
                    <div class="col-4" style="padding-left: 0">
                        <div class="card card-block" style="padding: 0">
                            <div id="directionsPanel" style="height: 500px; overflow: scroll"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document" style="max-width: 1000px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title flex-center" id="myModalLabel">Brand Ambassadors</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body" style="height: 650px; overflow: scroll">
                        <div class="row">
                            <div class="col-md-4">
                                <nav class="navbar navbar-dark bg-success tab">
                                    <div class="flex-center">
                                        <p class="navbar-brand" href="#">Accepted</p>
                                    </div>
                                </nav>
                                <div ng-if="ctrl.job.accepted.length == 0">
                                    <div class="no-items number" style="font-size: 50px">
                                        0
                                    </div>
                                    <div class="no-items" style="font-size: 30px">
                                        Accepted BAs
                                    </div>
                                </div>
                                <div ng-repeat="accepted in ctrl.job.accepted">
                                    <div class="card">
                                        <div class="card-up">
                                            <a href="#/profile/{{accepted.id}}" target="_blank">
                                                <div ng-style="{'background-image':'url('+accepted.coverUrl+')'}" class="cover-pic"></div>
                                            </a>
                                        </div>
                                        <a href="#/profile/{{accepted.id}}" target="_blank">
                                            <div class="avatar hoverable" ng-style="{'background-image':'url('+accepted.imageUrl+')'}"></div>
                                        </a>
                                        <div class="card-block">
                                            <div class="flex-center">
                                                <a href="#/profile/{{accepted.id}}" target="_blank"><h2 class="text-center">{{accepted.firstName}} {{accepted.lastName}}</h2></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <nav class="navbar navbar-dark bg-primary tab">
                                    <div class="flex-center">
                                        <p class="navbar-brand" href="#">Pending</p>
                                    </div>
                                </nav>
                                <div ng-if="ctrl.job.invited.length == 0">
                                    <div class="no-items number" style="font-size: 50px">
                                        0
                                    </div>
                                    <div class="no-items" style="font-size: 30px">
                                        Pending BAs
                                    </div>
                                </div>
                                <div ng-repeat="invited in ctrl.job.invited">
                                    <div class="card">
                                        <div class="card-up">
                                            <a href="#/profile/{{invited.id}}" target="_blank">
                                                <div ng-style="{'background-image':'url('+invited.coverUrl+')'}" class="cover-pic"></div>
                                            </a>
                                        </div>
                                        <a href="#/profile/{{invited.id}}" target="_blank">
                                            <div class="avatar hoverable" ng-style="{'background-image':'url('+invited.imageUrl+')'}"></div>
                                        </a>
                                        <div class="card-block">
                                            <div class="flex-center">
                                                <a href="#/profile/{{invited.id}}" target="_blank"><h2 class="text-center">{{invited.firstName}} {{invited.lastName}}</h2></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <nav class="navbar navbar-dark bg-danger tab">
                                    <div class="flex-center">
                                        <p class="navbar-brand" href="#">Declined</p>
                                    </div>
                                </nav>
                                <div ng-if="ctrl.job.declined.length == 0">
                                    <div class="no-items number" style="font-size: 50px">
                                        0
                                    </div>
                                    <div class="no-items" style="font-size: 30px">
                                        Declined BAs
                                    </div>
                                </div>
                                <div ng-repeat="declined in ctrl.job.declined">
                                    <div class="card">
                                        <div class="card-up">
                                            <a href="#/profile/{{declined.id}}" target="_blank">
                                                <div ng-style="{'background-image':'url('+declined.coverUrl+')'}" class="cover-pic"></div>
                                            </a>
                                        </div>
                                        <a href="#/profile/{{declined.id}}" target="_blank">
                                            <div class="avatar hoverable" ng-style="{'background-image':'url('+declined.imageUrl+')'}"></div>
                                        </a>
                                        <div class="card-block">
                                            <div class="flex-center">
                                                <a href="#/profile/{{declined.id}}" target="_blank"><h2 class="text-center">{{declined.firstName}} {{declined.lastName}}</h2></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>